/* fonts */
@font-face {
  font-family: 'Libre Baskerville';
  src: url(../../fonts/LibreBaskerville-Regular.otf) format(opentype); }

@font-face {
  font-family: Avenir;
  font-weight: normal;
  src: url(../../fonts/Avenir.ttc) format(opentype); }

@font-face {
  font-family: 'Avenir-Heavy';
  font-weight: bold;
  src: url(../../fonts/Avenir-Heavy.ttf) format(truetype); }

@font-face {
  font-family: Baskerville;
  src: url(../../fonts/Baskerville.ttf) format(opentype); }

@font-face {
  font-family: 'Avenir Book';
  src: url(../../fonts/Avenir-Book.ttf) format(opentype); }

@font-face {
  font-family: 'Avenir Black';
  src: url(../../fonts/Avenir-Black.ttf) format(opentype); }

/* fonts */
/* headers and paragraphs */
h1 {
  font-size: 7.125em;
  line-height: 110px; }

h3 {
  font-size: 2.375em; }

h4 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 15px 0; }

h6 {
  font: normal 1.125em Avenir, sans-serif;
  text-transform: capitalize;
  margin: 15px 0; }

h1, h3 {
  font-family: LibreBaskerville, serif;
  font-weight: normal;
  margin: 0; }

/* headers and paragraphs */
.btn {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 22px 62px;
  position: fixed;
  font: normal small-caps normal 1.125em Baskerville, sans;
  z-index: 1; }

html,
body,
.main-container {
  height: 100%; }

body {
  color: white;
  font: 100% 'Libre Baskerville', serif;
  margin: 0; }
  body .nav {
    background-color: #181818;
    font: 0.9375em "Avenir-Heavy", sans-serif;
    left: 0;
    line-height: 30px;
    opacity: .95;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1; }
    body .nav .nav__ico {
      color: #dbbc90;
      font-size: 1.5em;
      position: absolute; }
      body .nav .nav__ico:first-child {
        top: 24px;
        left: 30px; }
      body .nav .nav__ico:last-child {
        background-color: #141414;
        padding: 18px 28px;
        right: 0;
        top: 0; }
    body .nav ul {
      display: inline-block;
      margin: 21px 0 21px 87px;
      padding: 0; }
      body .nav ul li {
        display: inline;
        list-style-type: none;
        padding: 0 20px; }
        body .nav ul li a {
          color: inherit;
          cursor: pointer;
          text-decoration: none; }
    body .nav .nav__lang {
      float: right;
      margin: 20px 80px; }
      body .nav .nav__lang a {
        color: inherit;
        margin-right: 5px;
        text-decoration: none; }
        body .nav .nav__lang a:first-child {
          color: #dbbc90; }
  body .hero-section {
    background: url(../../img/bg.jpg) no-repeat -25px -50px;
    background-size: cover;
    background-size: calc(100% + 50px) calc(100% + 50px) cover;
    min-width: calc(100% + 50px);
    min-height: calc(100% + 100px);
    height: 100%;
    position: fixed; }
    body .hero-section .hero-section__abstract .hero-section__pointer {
      position: fixed;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 60px; }
      body .hero-section .hero-section__abstract .hero-section__pointer span:nth-child(even) {
        color: #dbbc90;
        font: 1em "Avenir-Heavy", sans-serif;
        margin: 0 80px; }
      body .hero-section .hero-section__abstract .hero-section__pointer span:nth-child(odd) {
        font-size: 2.1875em;
        vertical-align: middle; }
    body .hero-section .life-bg img,
    body .hero-section .death-bg img {
      display: none;
      position: fixed;
      min-height: 100%;
      z-index: 1;
      width: 50%; }
    body .hero-section .life-bg input,
    body .hero-section .death-bg input {
      bottom: 90px;
      display: none; }
    body .hero-section .life-bg .btn-visible,
    body .hero-section .death-bg .btn-visible {
      display: block; }
    body .hero-section .life-bg img {
      left: 0; }
    body .hero-section .life-bg input {
      left: 200px; }
    body .hero-section .death-bg img {
      right: 0; }
    body .hero-section .death-bg input {
      right: 200px; }
    body .hero-section .hero-section__abstract > div:first-child {
      color: #fff;
      left: 50%;
      width: 720px;
      position: fixed;
      text-align: center;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-family: 'MinionPro-Regular';
      font-size: 0.9375em; }
      body .hero-section .hero-section__abstract > div:first-child p {
        font-family: Avenir, sans-serif;
        line-height: 23px; }
    body .hero-section .hero-section__abstract > div > span {
      display: inline-block;
      font-size: 1.25em; }
      body .hero-section .hero-section__abstract > div > span span {
        padding: 0 40px; }
      body .hero-section .hero-section__abstract > div > span hr {
        background-color: #3a3a3a;
        border: none;
        height: 1px;
        margin: 20px 0 14px 0;
        width: 100%; }
  body .fullpage-container {
    display: none; }
    body .fullpage-container section.section .story {
      color: #141414;
      height: 100%; }
      body .fullpage-container section.section .story .story__bg-wrapper,
      body .fullpage-container section.section .story .story__text-wrapper {
        width: 50%; }
      body .fullpage-container section.section .story .story__bg-wrapper .story__img {
        min-height: 100%;
        opacity: 0;
        position: fixed;
        top: 70px;
        width: 50%; }
        body .fullpage-container section.section .story .story__bg-wrapper .story__img:first-child {
          opacity: 1; }
      body .fullpage-container section.section .story .story__text-wrapper {
        float: right;
        max-height: calc(100vh - 70px);
        margin-top: 70px;
        overflow-y: scroll;
        position: relative; }
        body .fullpage-container section.section .story .story__text-wrapper hr {
          margin: 30px 0; }
        body .fullpage-container section.section .story .story__text-wrapper .story__content span {
          float: left;
          font-size: 5em;
          line-height: 90px;
          margin-right: 18px; }
        body .fullpage-container section.section .story .story__text-wrapper .story__content div {
          line-height: 2; }
      body .fullpage-container section.section .story .story__text-wrapper > div {
        margin: 55px 30px 55px 50px;
        text-align: justify; }

/*# sourceMappingURL=Site.css.map */
